/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Styles */
:root {
    --dark-purple: #2A006F;
    --blue: #3391FF;
    --purple: #7636FE;
}

body {
    background: linear-gradient(180deg, rgba(55, 231, 255, 0.1) 0%, rgba(118, 54, 254, 0.1) 100%);
    font-family: 'Inter', sans-serif;
    color: var(--dark-purple);
    font-size: 100%;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.top-bar,
header .title,
section {
    padding: 0 2em;
}

header h1 {
    margin: 0;
}

main {
    margin: 0 auto;
}

p {
    line-height: 30px;
    margin-bottom: 1em;
    max-width: 40rem;
}

h1, h2, h3, h4, h5 {
    margin: 0.5em 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.14;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.25;
}

section {
    margin-bottom: 5em;
}

a {
    color: var(--dark-purple);
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: var(--blue);
}

li {
    line-height: 30px;
}


button,
.button {
    background: var(--dark-purple);
    color: white;
    padding: 8px 40px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    font-weight: 400;
    z-index: 1;
}

button::before,
.button::before {
    content: '';
    background: linear-gradient(180deg, var(--blue) 0%, var(--purple) 100%);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
}

button:hover,
.button:hover {
    color: white;
}

button:hover::before,
.button:hover::before {
    opacity: 1;
}

.logo {
    font-size: 1.25rem;
    font-weight: 900;
    text-decoration: none;
}

.logo span {
    background: linear-gradient(var(--blue), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo:hover {
    color: var(--dark-purple);
}

.join-us {
    margin: 2em auto 8em;
    padding-top: 75vw;
    background: url('./img/header-girl-mobile.png') 0 0 no-repeat;
    background-size: 100vw;
    max-width: 1024px;
}

.join-us h3 {
    margin: 0 0 0.8em 0;
    max-width: 30rem;
    font-size: 1.75rem;
}

.join-us .button {
    display: block;
    text-align: center;
    max-width: 185px;
}

.benefits {
    text-align: center;
}

.benefits ul {
    padding: 0;
    margin: 2em 0;
}

.benefits li {
    font-size: 1.125rem;
    list-style: none;
    max-width: 300px;
    margin: 3em auto;
    padding-top: 4em;
}

.benefits .benefits--forum {
    background: url('./img/forum.svg') 50% 0 no-repeat;
    background-size: 48px;
}

.benefits .benefits--news {
    background: url('./img/news.svg') 50% 0 no-repeat;
    background-size: 44px;
}

.benefits .benefits--private {
    background: url('./img/private.svg') 50% 0 no-repeat;
    background-size: 53px;
}

.benefits .benefits--watercooler {
    background: url('./img/watercooler.svg') calc(50%) 0 no-repeat;
    background-size: 45px;
}

.why-slack {
    margin: 8em 0;
    padding-top: 80vw;
    background: url(./img/slack.png) 0 0 no-repeat;
    background-size: 100vw;
}

.who {
    margin: 8em 0;
    padding-top: 80vw;
    background: url('./img/man-at-desk.png') 50% 0 no-repeat;
    background-size: 60vw;
}

footer {
    border-top: 1px solid rgba(55, 231, 255, 0.1);
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.5em 2em;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0.5em 0;
}

footer a {
    text-decoration: none;
    font-size: 0.875rem;
}

footer a.logo {
    font-size: 1.1rem;
}

footer a:hover {
    text-decoration: underline;
}

footer a.logo:hover {
    text-decoration: none;
}

.code-of-conduct {
    max-width: 700px;
}

.code-of-conduct--intro {
    margin-top: 2em;
}

@media (min-width: 700px) {
    h1 {
        font-size: 60px
    }

    h2 {
        font-size: 2.81rem;
    }

    h3 {
        font-size: 32px;
    }

    .join-us {
        background: url('./img/header-girl.png') 100% 50% no-repeat;
        background-size: 50vw;
        padding-top: 5em;
        padding-bottom: 5em;
        padding-right: 45vw;
    }

    .join-us h3 {
        font-size: 2.81rem;
    }

    .benefits {
        text-align: left;
    }

    .benefits ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        max-width: 800px;
    }

    .benefits .benefits--forum,
    .benefits .benefits--news,
    .benefits .benefits--private {
        background-position: 0 0;
    }

    .benefits .benefits--watercooler {
        background-position: -7px 0;
    }

    .benefits h2 {
        text-align: center;
    }

    .why-slack {
        padding-top: 0;
        padding-bottom: 2em;
        padding-left: 50vw;
        background-size: 45vw;
    }

    .who {
        background-position: 15% 50%;
        padding-top: 5em;
        padding-bottom: 5em;
        background-size: 30vw;
        padding-left: 50vw;
    }
}

@media (min-width: 1024px) {
    .join-us {
        background-size: 500px;
        padding-right: 400px;
        margin-left: 9em;
    }

    .join-us h3 {
        font-size: 2.5rem;
        max-width: 33rem;
    }

    .why-slack {
        background-size: 450px;
        padding-left: 480px;
    }

    .who {
        background-size: 250px;
        padding-left: 480px;
    }

    footer ul {
        padding: 0 2em;
    }
}
